{% extends "templates/baseweb.html" %}
{% block content %}
 
<div class="bg-grey breadcrumb-top1">
  <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><a href="/"><i class="icon fa fa-home"></i></a>
                    </li>
                    <li class="active"> About Gujarati Samaj  </li>
                </ol>
            </div>
            <div class="col-md-4">
                <div class="row">
                      <div class="col-md-12" style="margin-left: 15px;">
                        <h4 class="ui-title-block">  About Gujarati Samaj </h4>
                      </div>
                 </div>
            </div>            
             <div class="col-md-8" style="padding: 10px;">
                 {% include 'templates/includes/Advertisement/Topadvertisement.html' %}       
             </div>
        </div>
    </div> 
</div>
  <section class="section-content1 parallax"> 
    <div class="container-fluid">
        <div class="row" >
          <div class="col-xs-12 col-md-12">
            <div class="col-xs-12 col-md-9">
              {% if(intro) %}
          {{intro}}
          {% endif %}
            </div>
            <div class="col-md-3 col-xs-12 ">
               {% include 'templates/includes/Advertisement/Advertisement.html' %} 
            </div>
          </div>
        </div>
    </div>
    <!-- end .b-about-->
</section>
<style type="text/css">
    .b-breadcrumb{
        margin-top: 187px;
    }
    @media screen and (max-width: 720px){
        .b-breadcrumb{
            margin-top: 126px;
        }
    }
</style>
{% endblock %}
