{% extends "templates/baseweb.html" %}
{% block content %}
 
<div class="bg-grey breadcrumb-top1">
  <div class="container-fluid">
        <div class="row">
          
           
        </div>
    </div> 
</div>
  <section class="section-content1 parallax" style="min-height: 555px;float: center;"> 
    <div class="container-fluid">
        <div class="row" style="">
          <div class="col-xs-12 col-md-12" style="text-align: center;">
          
              <h4>Congratulations...</h4><h6>We have sent the login details to your registered E-Mail ID.</h6><br>
              <!-- <h5 style="">Welcome to New GSOD Website</h5> -->
               <div style="margin-top: 28px;">
                <a href="/login#login" class="btn btn-primary">Login</a>
            </div>
           
            <div class="col-md-3 col-xs-12 ">
              
            </div>
          </div>
        </div>
    </div>
    <!-- end .b-about-->
</section>
<style type="text/css">
    .b-breadcrumb{
        margin-top: 187px;
    }
    @media screen and (max-width: 720px){
        .b-breadcrumb{
            margin-top: 126px;
        }
    }
</style>
{% endblock %}
{% block script %}
<script>
    $(document).ready(function(){
       
    })
</script>
{% endblock %}