{% extends "templates/baseweb.html" %} {% block title %} {{ _("My Account") }} {% endblock %} {% block header %}
<h1>{{ _("My Account") }}</h1>{% endblock %} {% block page_sidebar %} {% include "templates/pages/web_sidebar.html" %} {% endblock %} {% block page_content %}
<!-- no-cache -->
<div class="row your-account-info  pagecenter" style="min-height: 400px; padding-bottom: 50px;">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 price-table 
    aos-init aos-animate dir_address" data-aos="fade-right">
        {% include "templates/pages/gssidemenu.html" %}
    </div>
    <div class="col-md-9 col-sm-9" style="min-height: 315px;border: 1px solid #ccc;padding-left: 0;padding-right: 0;">
        <div class="col-md-12 bottom-content donation-heading">
            <h6 style="font-size: 20px !important"> 
    Donation
    <span class="donate_now_btn"><a class="btn btn-primary" href='/gsod-donation'>Donate Now</a></span>
</h6>
        </div>
        {% if subscriptions %}
        <div class="col-md-12" style="padding: 20px">
            <h6>Subscriptions</h6>
            <table class="table table-bordered">
                <thead>
                    <tr style="background-color: #e3d9dc;">
                        <th>Subscription Id</th>
                        <th class="hidden-xs">Subscription Status</th>
                        <th>Amount</th>
                        <th>Next Bill Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in subscriptions %}
                    <tr>
                        <td style="padding: 10px;">{{item.subscription_id}}</td>
                        <td class="hidden-xs">{{item.status}}</td>
                        <td>$ {{"%0.2f" % item.amount | float}}</td>
                        <td>{{item.next_bill_date}}</td>
                        <td>
                            {% if item.status!="Cancelled" %}
                            <!-- <a style="cursor: pointer;padding: 5px`" onclick="modify_subscription(this)" data-subscription="{{item.subscription_id}}" data-type="{{item.subscription_type}}" data-subscriptionfor="{{item.subscription_for}}">Modify</a> -->
                            <a style="cursor: pointer;padding: 5px" onclick="cancel_subscription(this)" data-subscription="{{item.subscription_id}}">Cancel</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        <div class="col-md-12" style="padding: 20px;">
            <table class="table table-bordered" style="width: 100%;">
                <thead>
                    <tr style="background-color: #e3d9dc;">
                        <th>Name </th>
                        <th> Donation Amount </th>
                        <th class="dir_address">Donation For</th>
                        <th class="dir_address">Donation Date </th>
                        <th>Payment Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% if(Donation) %} {% for yp in Donation %}
                    <tr>
                        <td style="padding: 10px;">{% if yp.full_name %}{{yp.full_name}}{% else %}{{yp.member_name}}{% endif %} </td>
                        <td style="text-align: right !important;">$ {{'%0.2f'% yp.donation_amount|float}}</td>
                        <td class="dir_address">{{yp.donation_for}}</td>
                        <td class="dir_address"> {{yp.creation.date()}} </td>
                        <td>
                            <input type="hidden" name="amount" id="amount" value="{{yp.donation_amount}}">
                            {% if yp.paid %}
                            <p>Paid</p>
                            {% else %}
                            <a onclick="proceedPayment('{{yp.name}}','{{yp.donation_amount}}')" style="cursor: pointer">Payment Pending</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %} {% else %}
                    <tr>
                        <td colspan="5"> No Records Found </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="col-xs-12 hide" style="min-height: 400px; padding: 10px 0 0 0">
    <ul class="list-group">
        <a class="list-group-item" href="/profile">
            {{ _("Profile") }}
        </a> {% for item in sidebar_items -%}
        <a class="list-group-item" href="{{ item.route }}" {% if item.target %}target="{{ item.target }}" {% endif %}>
                {{ _(item.title or item.label) }}
            </a> {%- endfor %}
    </ul>
</div>
<div id="SubscriptionModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modify Subscription</h4>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-md-6 col-xs-12 col-sm-6">
                <div class="form-group">
                    <label>Name <span>*</span></label>
                    <input type="text" name="Name" id="Name" required="required" class="form-control">
                </div>
                <div class="form-group">
                    <label>Member Id</label>
                    <input type="text" name="MemberId" id="MemberId" class="form-control">
                </div>
            </div>
            <div class="col-md-6 col-xs-12 col-sm-6">
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" name="Email" id="Email" required="required" class="form-control">
                </div>
                <div class="form-group">
                    <label>Phone</label>
                    <input type="text" name="Phone" id="Phone" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12">
                <label>Query</label>
                <textarea class="form-control" id="Issue"></textarea>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="save_subscriber()">Save</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div> 

  </div>
</div>
{% endblock %} {% block style %}
<style type="text/css">
th,
td {
    text-align: left !important;
}

.sptitle {
    color: #e50041;
    font-weight: bold;
    padding-right: 10px;
}

.silver2 {
    background: linear-gradient(#dee7f6, #7e5c65) !important;
    padding: 10px;
}

.protitle {
    color: white;
    font-size: 15px;
}


.lirow {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #e1c8c8;
}

.pagecenter {
    margin-top: 13%;
    display: block;
    padding: 0 2%;
}

.avatar {
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: 50px;
}

.avatar-frame {
    display: inline-block;
    width: 100%;
    height: 0;
    padding: 50% 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 40px;
}

.avatar img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 4px;
}

.avatar-empty {
    border: 1px dashed #d1d8dd;
    border-radius: 4px;
}

.avatar-small {
    margin-right: 5px;
    width: 24px;
    height: 24px;
}

.avatar-small .standard-image {
    font-size: 14px;
}

.avatar-small .avatar-frame {
    border-radius: 3px;
}

.avatar-medium {
    margin-right: 5px;
    width: 36px;
    height: 36px;
}

.avatar-medium .standard-image {
    font-size: 18px;
}

.avatar-large {
    margin-right: 10px;
    width: 72px;
    height: 72px;
}

.avatar-large .standard-image {
    font-size: 36px;
}

.avatar-xl {
    margin-right: 10px;
    width: 108px;
    height: 108px;
}

.avatar-xl .standard-image {
    font-size: 72px;
}

.avatar-xs {
    margin-right: 3px;
    margin-top: -2px;
    width: 17px;
    height: 17px;
    border: none;
    border-radius: 3px;
}

.avatar-xs .standard-image {
    font-size: 9px;
}

.avatar-text {
    display: inline;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}

.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td,
.table-bordered>tfoot>tr>td {
    border: 1px solid #ccc;
}

.table>caption+thead>tr:first-child>th,
.table>colgroup+thead>tr:first-child>th,
.table>thead:first-child>tr:first-child>th,
.table>caption+thead>tr:first-child>td,
.table>colgroup+thead>tr:first-child>td,
.table>thead:first-child>tr:first-child>td {
    border: 1px solid #ccc;
}

.donate_now_btn {
    float: right;
    margin-top: -11px;
}

.table thead tr th,
.table tbody tr td {
    padding: 13px 16px;
}
.donation-heading h6{
    padding: 10px;
}
@media screen and (max-width: 1024px) and (min-width: 720px){
    .pagecenter{
        margin-top: 25%;
    }
    .donation-heading{
        margin-top: -7px;
    }
    .donation-heading h6{
        padding: 16px;
    }
}
</style>
{% endblock %}
{% block script %}
<script type="text/javascript">
    function proceedPayment(docname,amount){
        localStorage.setItem('docname',docname)
        localStorage.setItem('doctype','Donation')
        localStorage.setItem('donationamount',amount)
        window.location.href='/braintreepayment'
    }
    function modify_subscription(this){
        var subscription=$(this).attr('data-subscription')
        var type=$(this).attr('data-type')
        var subscription_for=$(this).attr('data-subscriptionfor')
    }
    function cancel_subscription(this){
        var subscription_id=$(this).attr('data-subscription');
        if(subscription_id!=''&&subscription_id!=null&&subscription_id!=undefined){
            frappe.call({
                method:'gscommunity.gscommunity.api.cancel_subscription',
                args:{
                    subscription_id:subscription_id
                },
                callback:function(data){
                    location.reload();
                }
            })
        }
    }
</script>
{% endblock %}