{% extends "templates/baseweb.html" %} {% block content %}
<div class="bg-grey breadcrumb-top1">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><a href="/"><i class="icon fa fa-home"></i></a>
                    </li>
                    <li class="active"> {{title}} </li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12" style="margin-left: 15px;">
                        <h4 class="ui-title-block"> {{title}} </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-8" style="padding: 10px;">
                 {% include 'templates/includes/Advertisement/Topadvertisement.html' %}  
            </div>
        </div>
    </div>
</div>
<div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-9">
        
            {% if SponsorshipTypeList %} 
            
            {% for type in SponsorshipTypeList %}
            {% if type.Sponsors %}
            <section class="parallax section-content1" style="min-height: 0;padding-top: 0">
                <div class="container-fluid">  
                    <div class="col-md-12" style="padding-top: 20px;padding-bottom: 20px;">
                        <div class="col-md-12 mb-10 bg-head" style="padding-left: 0;padding-right: 0;">
                            <div class="df">
                                <div class="col-md-9">
                                    <h4 class="ui-title-block">{{type.item_name}}
                                        <span> Sponsors</span>
                                    </h4>
                                </div>
                                <div class="col-md-3">
                                    <div class="head-btn">
                                        <a href="/sponsorstype" class="btn btn-primary btn-form-submit float-right tittlebtn">Become A Sponsor</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                             <div class="col-md-12">
                            <div class="grid-of-three">
                                {% if type.Sponsors %} {% for sponsor in type.Sponsors %}
                                <div class="box clickable">
                                    <div class="col-md-12 col-xs-12">
                                        <img src="{% if type.ribbon_image %}{{type.ribbon_image}}{% endif %}" class="spribbon"> </div>
                                    <a href="{% if sponsor.yp %}{{sponsor.yp}}{% endif %}"><h4>{{sponsor.sponsor_name}} </h4></a> {% if sponsor.phone %}
                                    <span style="float: left;width: 100%"> <i class=" icon fa fa-phone" aria-hidden="true" style="padding-right: 10px;color: #84616b;"></i>  {{sponsor.phone}} </span >
                                    {% endif %}
                                    {% if sponsor.email %}
                                    <span style="float: left;width: 100%"><i class="icon fa fa-envelope" aria-hidden="true" style="padding-right: 10px;color: #84616b;"></i>  {{sponsor.email}} </span >
                                    {% endif %}              
                                </div>
                                 {% endfor %}          
                                 {% endif %}                     
                            </div>
                        </div>   </div>                   
                    </div>
                </div>
            </section>
            {% endif %}
            {% endfor %}
            {% endif %}

         
</div>
        <div class="col-md-3 col-xs-12">   
            {% include 'templates/includes/Advertisement/Advertisement.html' %}
        </div>
    </div></div>
</div> 
 
{% endblock %}

<style >
  .ui-title-block {
        
    font-size: 24px !important;
    padding: 10px 10px !important;
    margin-bottom: 20px !important;
    }
</style>