{% extends "templates/baseweb.html" %} {% block title %} {{ _("My Account") }} {% endblock %} {% block header %}
<h1>{{ _("My Account") }}</h1>{% endblock %} {% block page_sidebar %} {% include "templates/pages/web_sidebar.html" %} {% endblock %} {% block page_content %}
<!-- no-cache -->
<div class="row your-account-info pagecenter" style="">
    <div class="col-md-4 col-sm-3 col-xs-12 price-table 
    aos-init aos-animate dir_address">
        {% include "templates/pages/gssidemenu.html" %}
    </div>
    <div class="col-md-8 col-sm-9" style="min-height: 315px">
        <div class="otr_border">
            <div class='page-card-head logintitle bottom-content'>
                <h4 class='indicator blue'>{{ _("Reset Password") }}</h4>
            </div>
            <form id="reset-password">
                {% if Rdata %} {% for item in Rdata %}
                <input type="hidden" id="load_update" name="update_load" value="{{item.name}}"> {% endfor %} {% endif %}
                <div class="form-group">
                    <input id="old_password" type="password" class="form-control" placeholder="{{ _(" Old Password ") }}">
                </div>
                <div class="form-group">
                    <input id="new_password" type="password" class="form-control" placeholder="{{ _(" New Password ") }}">
                    <span class="password-strength-indicator indicator"></span>
                </div>
                <p class='password-strength-message text-muted small hidden'></p>
                <button type="submit" id="update" class="btn btn-primary">{{_("Update")}}</button>
            </form>
        </div>
    </div>
</div>
<style>
.hero-and-content {
    background-color: #f5f7fa;
}
</style>
<style type="text/css">
/*.user-image-myaccount
{
	float: left;
}

.title
{
	    float: left;
   
    width: 100%;
    padding: 12px;
    background: #a1868e;
}*/

.sptitle {
    color: #e50041;
    font-weight: bold;
    padding-right: 10px;
}

.silver2 {
    background: linear-gradient(#dee7f6, #7e5c65) !important;
    padding: 10px;
}

.protitle {
    color: white;
    font-size: 15px;
}


.lirow {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #e1c8c8;
}

.pagecenter {
    margin-top: 13%;
    display: block;
    padding: 0 2%;
}

.avatar {
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: 50px;
}

.avatar-frame {
    display: inline-block;
    width: 100%;
    height: 0;
    padding: 50% 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 40px;
}

.avatar img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 4px;
}

.avatar-empty {
    border: 1px dashed #d1d8dd;
    border-radius: 4px;
}

.avatar-small {
    margin-right: 5px;
    width: 24px;
    height: 24px;
}

.avatar-small .standard-image {
    font-size: 14px;
}

.avatar-small .avatar-frame {
    border-radius: 3px;
}

.avatar-medium {
    margin-right: 5px;
    width: 36px;
    height: 36px;
}

.avatar-medium .standard-image {
    font-size: 18px;
}

.avatar-large {
    margin-right: 10px;
    width: 72px;
    height: 72px;
}

.avatar-large .standard-image {
    font-size: 36px;
}

.avatar-xl {
    margin-right: 10px;
    width: 108px;
    height: 108px;
}

.avatar-xl .standard-image {
    font-size: 72px;
}

.avatar-xs {
    margin-right: 3px;
    margin-top: -2px;
    width: 17px;
    height: 17px;
    border: none;
    border-radius: 3px;
}

.avatar-xs .standard-image {
    font-size: 9px;
}

.avatar-text {
    display: inline;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}

.logintitle {
    margin-bottom: 20px;
    padding: 10px;
}


/*.container{
	border:1px solid #ccc;
	padding-right: 0;
	padding-left: 0;
}*/

.otr_border {
    border: 1px solid #ccc;
}

#reset-password {
    padding: 20px;
}
@media screen and (max-width: 1024px) and (min-width: 720px){
    .pagecenter{
        margin-top: 26%;
    }
}
</style>
<script>
frappe.ready(function() {
    var url = '';
    var type = '';
    var key = '';
    var Route = window.location.href;

    if (Route.includes('?')) {
        url = Route.split('?')[1];
        type = url.split('&')[1];
        key = url.split('&')[2];
    }
    if (key != '') {
        var totalamount = url.split('=')[1].replace(/%20/g, ' ');
        console.log(totalamount)
        var a = "";
        frappe.call({
            method: "gscommunity.gscommunity.api.gets_memberinfo",
            args: {
                'Key': totalamount,
            },
            async: false,
            callback: function(r) {
                console.log(r.message)

                localStorage.setItem("userfirst_name", r.message[0].first_name)
                localStorage.setItem("userlast_name", r.message[0].last_name)
                localStorage.setItem("useremail_id", r.message[0].email)
                localStorage.setItem("usermobile_no", r.message[0].mobile_no)
            },
        });
        console.log(a)
    }

    if (frappe.utils.get_url_arg("key")) {
        $("#old_password").parent().toggle(false);
    }

    $("#reset-password").on("submit", function() {
        return false;
    });

    $("#new_password").on("keypress", function(e) {
        if (e.which === 13) $("#update").click();
    })

    $("#update").click(function() {
        var update_load = $("#load_update").val();

        var args = {
            key: frappe.utils.get_url_arg("key") || "",
            old_password: $("#old_password").val(),
            new_password: $("#new_password").val()
        }

        if (!args.old_password && !args.key) {
            frappe.msgprint("{{ _('Old Password Required.') }}");
            return;
        }
        if (!args.new_password) {
            frappe.msgprint("{{ _('New Password Required.') }}");
            return;
        }

        frappe.call({
            type: "POST",
            method: "frappe.core.doctype.user.user.update_password",
            btn: $("#update"),
            args: args,
            statusCode: {
                401: function() {
                    $('.page-card-head .indicator').removeClass().addClass('indicator red')
                        .text("{{ _('Invalid Password') }}");
                },
                200: function(r) {
                    $("input").val("");
                    strength_indicator.addClass('hidden');
                    strength_message.addClass('hidden');
                    $('.page-card-head .indicator')
                        .removeClass().addClass('indicator green')
                        .html("{{ _('Password Updated') }}");
                    if (r.message) {
                        frappe.msgprint("{{ _('Password Updated ') }}");
                        setTimeout(function() {
                            //                var member=localStorage.getItem("memberid")
                            // console.log(member)

                            // window.location.href ="/membership-registration?name="+member;
                            var member = getCookie('member_id');
                            if (member != '') {

                                window.location.href = "/membership-registration?name="+member;
                            } else{
                            	window.location.href = "/membership-registration?new=1";
                            }

                        }, 2000);
                    }
                }
            }
        });

        return false;
    });

    window.strength_indicator = $('.password-strength-indicator');
    window.strength_message = $('.password-strength-message');

    $('#new_password').on('keyup', function() {
        window.clear_timeout();
        window.timout_password_strength = setTimeout(window.test_password_strength, 200);
    });

    window.test_password_strength = function() {
        window.timout_password_strength = null;

        var args = {
            key: frappe.utils.get_url_arg("key") || "",
            old_password: $("#old_password").val(),
            new_password: $("#new_password").val()
        }

        if (!args.new_password) {
            set_strength_indicator('grey', { 'warning': "{{ _('Please enter the password') }}" });
            return;
        }

        return frappe.call({
            type: 'GET',
            method: 'frappe.core.doctype.user.user.test_password_strength',
            args: args,
            callback: function(r) {
                // console.log(r.message);
            },
            statusCode: {
                401: function() {
                    $('.page-card-head .indicator').removeClass().addClass('indicator red')
                        .text("{{ _('Invalid Password') }}");
                },
                200: function(r) {
                    if (r.message && r.message.entropy) {
                        var score = r.message.score,
                            feedback = r.message.feedback;

                        feedback.crack_time_display = r.message.crack_time_display;
                        feedback.score = score;

                        if (feedback.password_policy_validation_passed) {
                            set_strength_indicator('green', feedback);
                        } else {
                            set_strength_indicator('red', feedback);
                        }
                    }
                }
            }

        });
    };

    window.set_strength_indicator = function(color, feedback) {
        var message = [];
        feedback.help_msg = "";
        if (!feedback.password_policy_validation_passed) {
            feedback.help_msg = "<br>" + "{{ _('Hint: Include symbols, numbers and capital letters in the password ') }}";
        }
        if (feedback) {
            if (!feedback.password_policy_validation_passed) {
                if (feedback.suggestions && feedback.suggestions.length) {
                    message = message.concat(feedback.suggestions);
                } else if (feedback.warning) {
                    message.push(feedback.warning);
                }
                message.push(feedback.help_msg);

            } else {
                message.push("{{ _('Success! You are good to go 👍') }}");
            }
        }

        strength_indicator.removeClass().addClass('password-strength-indicator indicator ' + color);
        strength_message.html(message.join(' ') || '').removeClass('hidden');
        // strength_indicator.attr('title', message.join(' ') || '');
    }

    window.clear_timeout = function() {
        if (window.timout_password_strength) {
            clearTimeout(window.timout_password_strength);
            window.timout_password_strength = null;
        }
    };
});
</script>
{% endblock %} {% block style %}
<style>
.password-strength-indicator {
    float: right;
    padding: 15px;
    margin-top: -38px;
    margin-right: -7px;
}

.password-strength-message {
    margin-top: -10px;
}
</style>
{% endblock %}
